@use "../utile/" as *;

.ui-logo {
  @include flexYCenter {
    gap: rem(12);
  }
  padding: rem(14 18);

  .icon {
    [class*="icons-"] {
      width: rem(34);
      height: rem(34);
      color: var(--primary);
    }
  }

  .logo-txt {
    line-height: 1.1;
    letter-spacing: rem(2);

    .tit {
      font-size: rem(28);
    }
    small {
      font-size: rem(12);
      color: var(--gray400);
      padding-left: rem(4);
    }
  }
}

.ui-breadcrumb {
  font-size: rem(18);

  .location {
    font-size: rem(20);
  }
  .info {
    padding-left: rem(2);
    color: var(--gray500);
  }
}

.ui-btn {
  transition: 0.3s;
  display: inline-flex;
  padding: rem(16);
  border-radius: rem(12);
  font-size: rem(18);
  color: var(--gray600);

  .has-icon {
    @include flexYCenter {
      gap: rem(8);
    }
    i {
      font-size: rem(16);
      margin-top: rem(-2.5);
    }
    .txt {
      font-weight: 500;
    }
  }

  &:hover {
    background-color: var(--gray100);
  }

  &.active {
    background-color: var(--primary10);
    color: var(--green400);

    .txt {
      font-weight: 600;
    }
    .txt-blue600 {
      color: inherit;
    }
  }

  &.center {
    @include flexCenter;
  }
  &.outlined {
    border: rem(1) solid var(--gray300);

    &.primary {
      border-color: var(--primary30);
      color: var(--green600);
    }
  }
  &.fill {
    &.primary {
      background-color: var(--green400);
      color: var(--white);

      &:hover {
        background-color: var(--green500);
      }
    }
    &.secondary {
      background-color: var(--blue500);
      color: var(--white);

      &:hover {
        background-color: var(--blue600);
      }
    }
    &.gray {
      background-color: var(--gray200);
      color: var(--gray600);

      &:hover {
        background-color: var(--gray300);
      }
    }
  }
}

.ui-badge {
  border-radius: rem(8);
  padding: rem(8 16);
  font-weight: 600;
  background-color: var(--gray200);
  color: var(--gray700);

  &.primary {
    background-color: var(--primary);
    color: var(--white);
  }
  &.deep {
    background-color: var(--gray800);
    color: var(--green300);
  }

  &.small {
    padding: rem(4 12);
    font-size: rem(14);
  }
}

.ui-select {
  @include bgi("icons/images/chevron-down.svg");
  background-size: rem(24);
  background-position: calc(100% - #{rem(12)}) center;
  border: rem(1) solid var(--gray400);
  border-radius: rem(8);
  height: rem(56);
  padding: rem(0 12);
  padding-right: rem(48);

  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
}

.ui-input {
  background-size: rem(24);
  background-position: calc(100% - #{rem(12)}) center;
  border: rem(1) solid var(--gray400);
  border-radius: rem(8);
  height: rem(56);
  padding: rem(0 12);
}

.ui-title {
  @include flex {
    gap: rem(6);
  }
  [class*="icons-"] {
    width: rem(32);
    height: rem(32);
    color: var(--blue600);
    margin-top: rem(8);
  }
  .tit {
    font-size: rem(42);
    font-weight: 700;
  }
  .desc {
    padding-left: rem(6);
    font-size: rem(20);
    color: var(--gray600);
  }
}

.ui-table {
  table {
    width: 100%;
    text-align: left;
    border: rem(1) solid var(--gray300);
    border-width: rem(1 0);

    th {
      background-color: var(--gray100);
    }
    th,
    td {
      height: rem(60);
      padding: rem(12 18);
      border-bottom: rem(1) solid var(--gray200);
    }
  }
}

.ui-sel-wrap {
  @include flexYCenter {
    gap: rem(4);
  }
}
.ui-sel {
  width: rem(18);
  height: rem(18);
  accent-color: var(--green400);
}

.ui-helper {
  margin-top: rem(4);
  font-size: rem(15);
  font-weight: 500;
  color: var(--gray500);
}
